@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto|Anton|Prompt');


/*--  Navbar starts --*/

.navbar {
    background-color: #000000;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #8c8c8c;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #ff0000;
}

.navbar-light .navbar-toggler {
    color: #0c5460;
    border-color: #e9ecef;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-color: white;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #cccccc;
}

/*--  Navbar ends --*/

/*--  Logo starts  --*/

.logo {
    margin: 0px;
    height: 80px;
    width: 150px;
    background-color: #000000;
}

/*--  Logo ends  --*/

/*--  Section starts  --*/

/*-- Modal starts  --*/

.modal {
    margin: auto;
    width: 100%;
    font-family: "Anton";
}

.sign-up {
    margin-top: 25px;
    font-family: "Anton";
    font-size: 17px;
}

.form {
    margin: 62px;
    padding: 5px;
    text-align: center;
    border-radius: 50px;
}

input {
    margin: 5px;
    padding: 5px;
    border-radius: 50px;
}

/*--  Modal ends  --*/

.text {
    height: 200px;
    width: 400px;
}

.stage {
    position: relative;
    width: 100%;
}

.events {
    position: relative;
    width: 100%;
}

.members {
    position: relative;
    width: 100%;
}

.james {
    height: 316px;
    margin-left: 179px;
    width: 502px;
    float: left;
}

.personal {
    float: right;
    text-align: left;
    margin-left: 100px;
}

.button {
    text-align: center;
    margin-left: 90px;
    margin-top: 25px;
    width: 50%;
    font-family: "Anton";
    font-size: large;
    font-stretch: expanded;
    color: #e6e6e6;
}

.button a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

/*--  Index table starts  --*/

.center {
    margin: 0;
    margin-right: 19px;
    background-color: #f2f2f2;
    background-size: cover;
}

.blackend {
    background-image: url(../images/index/blackend.jpg);
    background-position: right;
    background-repeat: no-repeat;
    margin-left: 38px;
    margin-right: 24px;
}

/*--  Index table ends  --*/

h1 {
    margin-top: 25px;
    text-align: center;
    text-shadow: 2px 7px 10px black;
    font-family: "Prompt";
}

h2 {
    margin-top: 10px;
    text-align: center;
}

h3 {
    margin-top: 25px;
    font-size: 1.75rem;
    text-align: center;
}

p {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    font-size: small;
}

.block {
    text-align: center;
    background-color: lightgrey;
    height: 64px;
    width: 100%;
    margin-top: 40px;
}

/*--   Gallery starts  --*/

.portfolio_lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    display: none;
    align-items: center;
    justify-content: center;
}

.portfolio_lightbox:target {
    display: flex;
}

.portfolio_lightbox_content {
    width: 63%;
    position: relative;
    text-decoration: none;
}

.closed {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: #262626;
    margin-right: 30px;
    float: right;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: .5;
}

.closed::after {
    content: "X";
    color: white;
    font-weight: 700;

}

.previous a {
    display: inline-block;
    padding: 20px 20px;
}

.next a {
    display: inline-block;
    padding: 20px 20px;
}

.previous:hover {
    color: red;
    text-decoration: none;
}

.next:hover {
    color: red;
    text-decoration: none;
}

.previous {
    display: contents;
    color: white;
    float: left;
    font-size: xx-large;
    margin-top: 230px;

}

.next {
    color: white;
    display: contents;
    float: right;
    font-size: xx-large;
    margin-top: 230px;
}

.row_gallery {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 70px;
}

/*--   Gallery ends  --*/

/*--   Video starts  --*/

iframe {
    margin: 0 auto;
    display: block;
    height: 500px;
}

.music {
    margin: 10px auto;
    display: block;
    height: 500px;
}

.audio {
    margin: 40px auto;
    display: block;
    height: 50px;
}

/*--  Video ends  --*/

/*--  Events starts  --*/

.world {
    font-family: "Aton";
}

.tour p {
    display: block;
}

.date {
    text-align: center;
}

.centerTable {
    margin: 0 auto;
}

tr:nth-child(even) {
    background-color: #e6e6e6;
}

.fa,
.fas {
    font-weight: 900;
    line-height: 4;
    border: none;
}

/*--  Events ends  --*/

/*--  Section ends  --*/

/*--  Footer starts  --*/

.container-fluid {
    margin: auto;
    height: 90px;
    width: 100%;
    background-color: #000000;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.social-footer {
    margin: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-decoration: none;
    display: inline-block;
    background-color: #000000;
}

.social-footer a {
    color: #ffffff;
    margin: 10px;
}

.social-footer i {
    color: #ffffff;
}

/*--  Footer ends  --*/

/*--  Media query starts  --*/

@media (min-width: 320px) {
    /*-- Section starts  --*/
    /*-- Modal starts  --*/
    .sign-up {
        margin-top: 0px;
        font-family: "Anton";
        font-size: 10px;
    }

    form {
        margin: 20px;
        text-align: center;
        font-size: medium;
    }

    /*-- Modal ends  --*/
    /*-- Index read more btn starts  --*/
    .btn {
        text-align: center;
        margin-left: 83px;
        margin-top: 25px;
        width: 50%;
        font-family: "Anton";
        font-size: large;
        font-stretch: expanded;
    }

    /*-- Index read more btn ends  --*/
    .text {
        height: 124px;
        width: 270px;
    }

    .stage {
        position: relative;
        width: 100%;
    }

    .events {
        position: relative;
        width: 100%;
    }

    .members {
        position: relative;
        width: 100%;
    }

    .james {
        margin-left: 22px;
        height: 190px;
        width: 330px;
    }

    .personal {
        float: left;
        text-align: left;
        margin-left: 25px;
        margin-right: 55px;
        font-size: small;
    }

    p {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: left;
        font-size: small;
    }

    .images {
        height: 100px;
        width: 200px;
        margin: 10px;
        margin-left: 60px;
    }

    /*--  Index table starts  --*/
    .center {
        margin: 0;
        margin-right: 0px;
        background-color: #f2f2f2;
        background-size: cover;
    }

    .blackend {
        background: none;
        margin-left: 0px;
        margin-right: 0px;
    }

    /*--  Index table ends  --*/
    /*--  Events table starts  --*/
    .centerTable {
        margin: 0 auto;
    }

    /*--  Events table ends  --*/
    /*--  Gallery starts  --*/
    .row_gallery {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-left: 30px;
    }

    .portfolio_lightbox_content {
        width: 93%;
        position: relative;
        text-decoration: none;
    }

    .large {
        width: 350px;
        height: 262px;
    }

    .closed {
        position: relative;
        width: 35px;
        height: 35px;
        background-color: #262626;
        margin-right: 0px;
        float: right;
        text-decoration: none;
        align-items: center;
        display: flex;
        justify-content: center;
        opacity: .5;
    }

    /*--  Gallery ends  --*/
    /*--  Iframe starts  --*/
    iframe {
        margin: 0 auto;
        display: block;
        height: 160px;
    }

    .music {
        margin: 10px auto;
        display: block;
        height: 160px;
    }

    /*--  Iframe ends  --*/
    /*--  Section ends  --*/
    /*--  Footer starts  --*/
    .container-fluid {
        margin: auto;
        height: 70px;
        width: 100%;
        background-color: #000000;
    }

    .social-footer {
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-decoration: none;
        display: inline-block;
        background-color: #000000;
    }

    /*--  Footer ends  --*/
}

@media (min-width: 575px) {
    /*-- Section starts  --*/
    /*-- Modal starts  --*/
    .sign-up {
        margin-top: 0px;
    }

    /*-- Modal ends  --*/
    /*-- Index read more btn starts  --*/
    .btn {
        text-align: center;
        margin-left: 83px;
        margin-top: 25px;
        width: 50%;
        font-family: "Anton";
        font-size: large;
        font-stretch: expanded;
    }

    /*-- Index read more btn ends  --*/
    .text {
        height: 123px;
        width: 320px;
    }

    .stage {
        position: relative;
        width: 100%;
    }

    .events {
        position: relative;
        width: 100%;
    }

    .members {
        position: relative;
        width: 100%;
    }

    .james {
        margin-left: 120px;
        height: 190px;
        width: 330px
    }

    .personal {
        float: left;
        text-align: left;
        margin-left: 90px;
        margin-right: 90px;
        font-size: small;
    }

    p {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: left;
        font-size: small;
    }

    .images {
        height: 100px;
        width: 200px;
        margin: 20px;
        margin-left: 90px;
    }

    /*--  Events table starts  --*/
    .centerTable {
        margin: 0 auto;
    }

    /*--  Events table ends  --*/
    .row_gallery {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 60px auto;
        margin-top: 20px;
    }

    .portfolio_lightbox_content {
        width: 65%;
        position: relative;
        text-decoration: none;
    }

    .large {
        width: 450px;
        height: 337px;
    }

    /*--  Iframe starts  --*/
    iframe {
        margin: 0 auto;
        display: block;
        height: 225px;
    }

    .music {
        margin: 10px auto;
        display: block;
        height: 225px;
    }

    /*--  Iframe ends  --*/
    /*--  Footer starts  --*/
    .social-footer {
        margin: 40px;
        margin-top: 40px;
        margin-bottom: 20px;
        text-decoration: none;
        display: inline-block;
        background-color: #000000;
    }

    /*--  Footer ends  --*/
}

@media (min-width: 768px) {
    /*-- Section starts  --*/
    /*-- Index read more btn starts  --*/
    .btn {
        text-align: center;
        margin-left: 200px;
        margin-top: 25px;
        width: 50%;
        font-family: "Anton";
        font-size: large;
        font-stretch: expanded;
    }

    /*-- Index readn more btn ends  --*/
    .stage {
        position: relative;
        width: 100%;
    }

    .events {
        position: relative;
        width: 100%;
    }

    .members {
        position: relative;
        width: 100%;
    }

    .james {
        height: 237px;
        margin: 2px;
        margin-left: 147px;
        width: 59%;
    }

    .personal {
        float: left;
        text-align: left;
        margin-left: 140px;
    }

    p {
        margin-top: 10px;
        margin-left: 70px;
        margin-right: 70px;
        text-align: left;
        font-size: small;
    }

    .images {
        height: 100px;
        width: 200px;
        margin: 20px;
        margin-left: 90px;
    }

    /*--  Index table starts  --*/
    .center {
        margin-left: 110px;
        margin-right: 0px;
        background-color: #f2f2f2;
        background-size: cover;
    }

    .blackend {
        background: none;
        margin-left: 0px;
        margin-right: 0px;
    }

    /*--  Index table ends  --*/
    /*--  Events table starts  --*/
    .centerTable {
        margin: 0 auto;
    }

    /*--  Events table ends  --*/
    /*--  Gallery starts  --*/
    .row_gallery {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 0px;
        margin-left: 120px;
    }

    .portfolio_lightbox_content {
        width: 74%;
        position: relative;
        text-decoration: none;
    }

    .large {
        width: 550px;
        height: 412px;
    }

    .closed {
        position: relative;
        width: 35px;
        height: 35px;
        background-color: #262626;
        margin-right: 18px;
        float: right;
        text-decoration: none;
        align-items: center;
        display: flex;
        justify-content: center;
        opacity: .5;
    }

    /*--  Gallery ends  --*/
    /*--  Iframe starts  --*/
    iframe {
        margin: 0 auto;
        display: block;
        height: 300px;
    }

    .music {
        margin: 10px auto;
        display: block;
        height: 300px;
    }

    /*--  Iframe ends  --*/
    /*--  Footer starts  --*/
    .container-fluid {
        margin: auto;
        height: 90px;
        width: 100%;
        background-color: #000000;
    }

    /*--  Footer ends  --*/
}

@media (min-width: 992px) {
    /*-- Section starts  --*/
    /*-- Index read more btn starts  --*/
    .btn {
        text-align: center;
        margin-left: 213px;
        margin-top: 25px;
        width: 50%;
        font-family: "Anton";
        font-size: large;
        font-stretch: expanded;
    }

    /*-- Index read more btn ends  --*/
    .stage {
        position: relative;
        width: 100%;
    }

    .events {
        position: relative;
        width: 100%;
    }

    .members {
        position: relative;
        width: 100%;
    }

    .james {
        height: 250px;
        margin: 2px;
        margin-left: 70px;
        width: 40%;
    }

    .personal {
        float: left;
        text-align: left;
        margin-left: 30px;
        margin-right: 0px;
        font-size: small;
    }

    p {
        margin-top: 10px;
        margin-left: 120px;
        margin-right: 120px;
        text-align: left;
        font-size: medium;
    }

    .images {
        height: 100px;
        width: 200px;
        margin: 20px;
        margin-left: 90px;
    }

    /*--  Index table starts  --*/
    .center {
        margin-left: 220px;
        margin-right: 0px;
        background-color: #f2f2f2;
        background-size: cover;
    }

    /*--  Index table ends  --*/
    /*--  Events table starts  --*/
    .centerTable {
        margin: 0 auto;
    }

    /*--  Events table ends  --*/
    /*--  Gallery starts  --*/
    .row_gallery {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 0px;
        margin-left: 120px;
    }

    .portfolio_lightbox_content {
        width: 70%;
        position: relative;
    }

    .large {
        width: 600px;
        height: 447px;
    }

    .closed {
        position: relative;
        width: 35px;
        height: 35px;
        background-color: #262626;
        margin-right: 80px;
        float: right;
        text-decoration: none;
        align-items: center;
        display: flex;
        justify-content: center;
        opacity: .5;
    }

    /*--  Gallery ends  --*/
    /*--  Iframe starts  --*/
    iframe {
        margin: 0 auto;
        display: block;
        height: 450px;
    }

    .music {
        margin: 10px auto;
        display: block;
        height: 450px;
    }

    /*--  Iframe ends  --*/
    /*--  Footer starts --*/
    .container-fluid {
        margin: auto;
        height: 90px;
        width: 100%;
        background-color: #000000;
    }

    /*--  Footer ends  --*/
}

@media (min-width: 1200px) {
    /*-- Section starts  --*/
    /*-- Index read more btn starts  --*/
    .btn {
        text-align: center;
        margin-left: 290px;
        margin-top: 25px;
        width: 50%;
        font-family: "Anton";
        font-size: large;
        font-stretch: expanded;
    }

    /*-- Index read more btn ends  --*/
    .stage {
        position: relative;
        width: 100%;
    }

    .members {
        position: relative;
        width: 100%;
    }

    .james {
        height: 316px;
        margin-top: 20px;
        margin-left: 161px;
        width: 502px;
        float: left;
    }

    .events {
        position: relative;
        width: 100%;
    }

    .personal {
        float: right;
        text-align: left;
        margin-left: 30px;
        margin-right: 39px;
        font-size: large;
    }

    p {
        margin-top: 10px;
        margin-left: 320px;
        margin-right: 220px;
        text-align: left;
        font-size: large;
    }

    .images {
        height: 100px;
        width: 200px;
        margin: 20px;
        margin-left: 90px;
    }

    /*--  Index table starts  --*/
    .blackend {
        background-image: url(../images/index/blackend.jpg);
        background-position: right;
        background-repeat: no-repeat;
        margin-left: 30px;
        margin-right: 38px;
    }

    .center {
        margin-left: 100px;
        margin-right: 0px;
        background-color: #f2f2f2;
        background-size: cover;
    }

    /*--  Index table ends  --*/
    /*--  Events table starts  --*/
    .centerTable {
        margin: 0 auto;
    }

    /*--  Events table ends  --*/
    /*--  Gallery starts  --*/
    .row_gallery {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 0px;
        margin-left: 35px;
    }

    .large {
        width: 800px;
        height: 533px;
    }

    .portfolio_lightbox_content {
        width: 60%;
        position: relative;
        text-decoration: none;
    }

    .closed {
        position: relative;
        width: 35px;
        height: 35px;
        background-color: #262626;
        margin-right: 20px;
        float: right;
        text-decoration: none;
        align-items: center;
        display: flex;
        justify-content: center;
        opacity: .5;
    }

    /*--  Gallery ends  --*/
    /*--  Iframe starts  --*/
    iframe {
        margin: 0 auto;
        display: block;
        height: 500px;
    }

    .music {
        margin: 10px auto;
        display: block;
        height: 500px;
    }

    /*--  Iframe ends  --*/
    /*--  Footer starts  --*/
    .container-fluid {
        margin: auto;
        height: 90px;
        width: 100%;
        background-color: #000000;
    }

    /*--  Footer ends  --*/
}

/*--  Media query ends  --*/
