@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto|Anton|Permanent+Marker');


/*--- Navbar ----*/

.navbar {
    background-color: #000000;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.nav-link hover {
    color: #d9d9d9;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #edeff1;
}

.navbar-light .navbar-toggler {
    color: #0c5460;
    border-color: #e9ecef;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-color: white;
}

.band {
    background-color: red;
}

/*--- Logo ---- */

.logo {
    margin: 0px;
    height: 80px;
    width: 150px;
    background-color: #000000;
}

/*--- Logo ends ---- */

/*--- Section ---*/

.text {
    height: 200px;
    width: 400px;
}

.alert {
    background-color: #ffff00;
}

.stage {
    position: relative;
    width: 100%;
}

.events {
    margin-left: -29px;
    width: 116%;
}

.members {
    margin-left: -24px;
    width: 115%;
}

.james {
    margin: 2px;
    width: 100%;
}

.blackned {
    background-image: url("images/index/blackend.jpg");
    background-size: 200px 200px;
    background-position: right;
}

.button {
    text-align: center;
    margin-left: 83px;
    margin-top: 25px;
    width: 50%;
    font-family: "Anton";
    font-size: large;
    font-stretch: expanded;
}

.sign-up {
    margin-top: 0px;
    font-family: "Permanent+Marker";
    font-size: 17px;
}

.input {
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    text-shadow: #d9d9d9;
}

.date {
    text-align: center;
}

h1 {
    margin-top: 25px;
    text-align: center;
}

h2 {
    margin-top: 10px;
    text-align: center;
}

p {
    margin-top: 10px;
    text-align: center;
}

.top {
    text-align: center;
    background-color: lightgrey;
    height: 64px;
}

form {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

input {
    margin: 5px;
    padding: 5px;
    border-radius: 50px;
    text-shadow: #d9d9d9;
}

/*--- Section ends ---*/

/*--- Video ---- */

iframe {
    margin: 0 auto;
    display: block;
}

/*--- Video ends ---- */

/*--- Events ---- */

.world {
    font-family: "Aton";
}

.tour p {
    display: block;
}

.date {
    font-size: large;
    margin-right: 76px;
    border: blue;
    border-width: thin;
    text-align: center;
}

/*--- Events ends ---- */

/*------footer starts-----*/

.footer {
    margin: auto;
    bottom: auto;
}

.nav-footer-right {
    margin: 0 auto;
    padding: 0;
    background-color: #000000;
}

.nav-footer-right ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-footer-right li {
    margin: 10px;
    margin-left: 10px;
    padding: 0px;
    display: inline-block;
    line-height: 3.5;
    color: #ffffff;
}

.nav-footer-right a {
    color: #ffffff;
}

/*------footer ends-----*/

/*------media query starts-----*/

@media (min-width: 320px) {
    .btn {
        text-align: center;
        margin-left: 83px;
        margin-top: 25px;
        width: 50%;
        font-family: "Anton";
        font-size: large;
        font-stretch: expanded;
    }

    .text {
        height: 124px;
        width: 270px;
    }

    .stage {
        position: relative;
        width: 100%;
    }

    .events {
        margin-left: -29px;
        width: 116%;
    }

    .members {
        margin-left: -24px;
        width: 115%;
    }

    .james {
        margin: 2px;
        width: 100%;
    }

    .sign-up {
        margin-top: 0px;
    }

    /*----footer starts----*/
    .nav-footer-center li {
        margin: 10px;
        margin-left: 12px;
        padding: 10px;
        display: inline-block;
        line-height: 3.5;
    }
    /*----footer ends----*/
}

@media (min-width: 575px) {
    .btn {
        text-align: center;
        margin-left: 83px;
        margin-top: 25px;
        width: 50%;
        font-family: "Anton";
        font-size: large;
        font-stretch: expanded;
    }

    .text {
        height: 123px;
        width: 320px;
    }

    .stage {
        position: relative;
        width: 100%;
    }

    .events {
        margin-left: -29px;
        width: 116%;
    }

    .members {
        margin-left: -24px;
        width: 115%;
    }

    .james {
        margin: 2px;
        width: 100%;
    }

    .sign-up {
        margin-top: 0px;
    }

    /*----footer starts----*/
    .nav-footer-center li {
        margin: 10px;
        margin-left: 25px;
        padding: 10px;
        display: inline-block;
        line-height: 3.5;
    }
    /*----footer ends----*/
}

@media (min-width: 768px) {

    .btn {
        text-align: center;
        margin-left: 200px;
        margin-top: 25px;
        width: 50%;
        font-family: "Anton";
        font-size: large;
        font-stretch: expanded;
    }

    .stage {
        position: relative;
        width: 100%;
    }
    
    .events {
        margin-left: -61px;
        width: 114%;
    }

    .members {
        margin-left: -44px;
        width: 115%;
    }

    .james {
        height: 237px;
        margin: 2px;
        margin-left: 147px;
        width: 59%;
    }

    /*----footer starts----*/
    .nav-footer-center li {
        margin: 10px;
        margin-left: 101px;
        padding: 10px;
        display: inline-block;
        line-height: 3.5;
    }

    /*----footer ends----*/
}

@media (min-width: 992px) {
    .btn {
        text-align: center;
        margin-left: 213px;
        margin-top: 25px;
        width: 50%;
        font-family: "Anton";
        font-size: large;
        font-stretch: expanded;
    }

    .stage {
        position: relative;
        width: 100%;
    }

    .events {
        margin-left: -61px;
        width: 114%;
    }

    .members {
        margin-left: -49px;
        width: 112%;
    }

    .james {
        height: 250px;
        margin: 2px;
        margin-left: 225px;
        width: 52%;
    }

    /*----footer starts----*/
    .nav-footer-center li {
        margin: 10px;
        margin-left: 159px;
        padding: 10px;
        display: inline-block;
        line-height: 3.5;
    }
    /*----footer ends----*/
}

@media (min-width: 1200px) {
    .btn {
        text-align: center;
        margin-left: 290px;
        margin-top: 25px;
        width: 50%;
        font-family: "Anton";
        font-size: large;
        font-stretch: expanded;
    }

    .stage {
        position: relative;
        width: 100%;
    }


    .members {
        margin-left: -179px;
        width: 129%;
    }

    .james {
        height: 324px;
        margin: 12px;
        margin-left: 292px;
        width: 49%;
    }

    .events {
        margin-left: -178px;
        width: 133%;
    }
    /*----footer starts----*/
    .nav-footer-center li {
        margin: 10px;
        padding: 10px;
        display: inline-block;
        line-height: 3.5;
    }

    /*----footer ends----*/
    /*----media query ends----*/
}
