@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto|Anton|Permanent+Marker');


/*--- Background color ----*/

.navbar {
    background-color: #e6e6e6;
}

.band {
    background-color: red;
}

/*--- Logo ---- */

.logo {
    margin: 0px;
    height: 80px;
    width: 150px;
    background-color: #e6e6e6;
}

/*--- Logo ends ---- */

.stage {
    margin-left: -29px;
    width: 122%;
}

.events {
    margin-left: -29px;
    width: 116%;
}

.members {
    margin-left: -24px;
    width: 115%;
}

.james {
    margin: 2px;
    width: 100%;
}

.garage {
    margin-left: -15px;
    width: 110%;
}

.button {
    text-align: center;
    margin-left: 83px;
    margin-top: 25px;
    width: 50%;
    font-family: "Anton";
    font-size: large;
    font-stretch: expanded;
}

.sign-up {
    margin-top: 0px;
    font-family: "Permanent+Marker";
    font-size: 17px;
}

.input {
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    text-shadow: #d9d9d9;
}

.date {
    text-align: center;
}

h1 {
    margin-top: 25px;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    margin-top: 10px;
    text-align: center;
}

form {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

input {
    margin: 5px;
    padding: 5px;
    border-radius: 50px;
    text-shadow: #d9d9d9;
}

/*--- Video ---- */

.newalbum {
    margin-left: 29px;
    width: 84%;
    height: 150px;
}

/*--- Video ends ---- */

/*--- Events ---- */

.world {
    font-family: "Aton";
}

.tour p {
    display: block;
}

.date {
    font-size: large;
    margin-right: 76px;
    border: blue;
    border-width: thin;
    text-align: center;
}

/*--- Events ends ---- */

/*------footer starts-----*/

.footer {
    margin: auto;
    bottom: auto;
}

.nav-footer-center {
    margin: 0 auto;
    padding: 0;
    background-color: #d9d9d9;
}

.nav-footer-center ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-footer-center li {
    margin: 10px;
    margin-left: 51px;
    padding: 0px;
    display: inline-block;
    line-height: 3.5;
}

.nav-footer-center a {
    color: #4d4d4d;
}

/*------footer ends-----*/

/*------media query starts-----*/


@media (min-width: 320px) {
.btn {
        text-align: center;
        margin-left: 83px;
        margin-top: 25px;
        width: 50%;
        font-family: "Anton";
        font-size: large;
        font-stretch: expanded;
    }

    .stage {
        margin-left: -29px;
        width: 122%;
    }

    .garage {
        margin-left: -15px;
        width: 110%;
    }

    .events {
        margin-left: -29px;
        width: 116%;
    }

    .members {
        margin-left: -24px;
        width: 115%;
    }

    .james {
        margin: 2px;
        width: 100%;
    }

    .sign-up {
        margin-top: 0px;
    }

    .newalbum {
        margin-left: 29px;
        width: 84%;
        height: 150px;
    }

    /*----footer starts----*/
    .nav-footer-center li {
        margin: 10px;
        margin-left: 12px;
        padding: 10px;
        display: inline-block;
        line-height: 3.5;
    }
    /*----footer ends----*/
}

@media (min-width: 575px) {
    .btn {
        text-align: center;
        margin-left: 83px;
        margin-top: 25px;
        width: 50%;
        font-family: "Anton";
        font-size: large;
        font-stretch: expanded;
    }

    .stage {
        margin-left: -29px;
        width: 116%;
    }

    .garage {
        margin-left: -15px;
        width: 107%;
    }

    .events {
        margin-left: -29px;
        width: 116%;
    }

    .members {
        margin-left: -24px;
        width: 115%;
    }

    .james {
        margin: 2px;
        width: 100%;
    }

    .sign-up {
        margin-top: 0px;
    }

    .newalbum {
        margin-left: 29px;
        width: 84%;
        height: 150px;
    }

    /*----footer starts----*/
    .nav-footer-center li {
        margin: 10px;
        margin-left: 25px;
        padding: 10px;
        display: inline-block;
        line-height: 3.5;
    }
    /*----footer ends----*/
}

@media (min-width: 768px) {

    .btn {
        text-align: center;
        margin-left: 200px;
        margin-top: 25px;
        width: 50%;
        font-family: "Anton";
        font-size: large;
        font-stretch: expanded;
    }

    .stage {
        margin-left: -53px;
        width: 116%;
    }

    .events {
        margin-left: -61px;
        width: 114%;
    }

    .members {
        margin-left: -44px;
        width: 115%;
    }


    .james {
        height: 237px;
        margin: 2px;
        margin-left: 147px;
        width: 59%;
    }

    .newalbum {
        margin-left: 100px;
        width: 150%;
        height: 180px;
        margin-right: 0px;
    }

    /*----footer starts----*/
    .nav-footer-center li {
        margin: 10px;
        margin-left: 101px;
        padding: 10px;
        display: inline-block;
        line-height: 3.5;
    }

    /*----footer ends----*/
}

@media (min-width: 992px) {
    .btn {
        text-align: center;
        margin-left: 213px;
        margin-top: 25px;
        width: 50%;
        font-family: "Anton";
        font-size: large;
        font-stretch: expanded;
    }

    .stage {
        margin-left: -61px;
        width: 111%;
    }

    .events {
        margin-left: -61px;
        width: 114%;
    }

    .members {
        margin-left: -49px;
        width: 112%;
    }

    .james {
        height: 250px;
        margin: 2px;
        margin-left: 225px;
        width: 52%;
    }

    .newalbum {
        margin-left: 108px;
        width: 160%;
        height: 220px;

    }

    /*----footer starts----*/
    .nav-footer-center li {
        margin: 10px;
        margin-left: 159px;
        padding: 10px;
        display: inline-block;
        line-height: 3.5;
    }
    /*----footer ends----*/
}

@media (min-width: 1200px) {
    .btn {
        text-align: center;
        margin-left: 290px;
        margin-top: 25px;
        width: 50%;
        font-family: "Anton";
        font-size: large;
        font-stretch: expanded;
    }

    .stage {
        margin-left: -178px;
        width: 133%;
    }

    .garage {
        margin-left: -165px;
        width: 267%;
    }

    .members {
        margin-left: -179px;
        width: 129%;
    }

    .james {
        height: 324px;
        margin: 12px;
        margin-left: 292px;
        width: 49%;
    }

    .events {
        margin-left: -178px;
        width: 133%;
    }

    .newalbum {
        margin-left: 210px;
        width: 145%;
        height: 260px;
    }

    /*----footer starts----*/
    .nav-footer-center li {
        margin: 10px;
        margin-left: 231px;
        padding: 10px;
        display: inline-block;
        line-height: 3.5;
    }

    /*----footer ends----*/
    /*----media query ends----*/
}
